<header  style="display: flex; flex-flow:row nowrap; justify-content:space-between; padding: 10px 20px;background-color:rgba(0, 0, 0, 0.30); align-items:center">
    <h3>{{username}}</h3>
    <div>
        <a href="/user/logout" style="background-color:rgb(43, 43, 43); color:rgb(255, 255, 255); border-radius: 20px; padding:5px 15px" class="btn mr-3">Logout</a>
        <a href="/products" style="background-color:rgb(76, 76, 76); color:rgb(255, 255, 255); border-radius: 20px; padding:5px 15px" class="btn mr-3">Home</a>
        <a href="/cart" style="background-color:rgb(76, 76, 76); color:rgb(255, 255, 255); border-radius: 20px; padding:5px 15px" class="btn mr-3">Cart</a>
        <img style="width: 50px; height:50px; border-radius: 50%; object-fit:cover" src="{{userImg}}" alt="">
    </div>
</header>
<div style="display: flex; flex-flow:column nowrap; align-items:center;">
    <div style="width:224px ;display:flex; flex-flow:column; background-color: rgb(255, 255, 255); padding-top:12px; border-radius: 15px; align-items:center; gap:5px; justify-content:space-between">
        <img style="width: 200px; border-radius:7px;" src={{product.img}} alt={{product.title}}>
        <h3>{{product.name}}</h3>
        <b>usd${{product.price}}</b>
        <form style="width: 100%; margin-bottom:0" action="/cart/add" method="post">
            <input type="hidden" value="{{product._id}}" name="prodId"/>
            <input style="width: 100%; border:1px solid black; backgroun: rgb(44, 44, 44); border-radius: 0 0 15px 15px; padding: 3px" type="submit" name="" id="" value="Add to cart">
        </form>
    </div>
</div>